:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #3d3d43;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #A33137;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}